input {
    display: block;
    width: 400px;
    border: 1px solid #0e3b43;
    padding-top: 7px;
    padding-left: 10px;
}

label {
    display: block;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

button {
    display: block;
    width: 150px;
}

span {
    display: block;
    color: #b9314f;
    max-width: 400px;
}

.formSignIn {
    margin-top: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formRegister {
    margin-top: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.allFields {
    padding-top: 5px;
    color:  rgb(185 49 79);
}